.banner_background{
    background-image: url("../../assets/asset 16.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}